<div class="container">
  <div class="row justify-content-center">
      <% @chemistries.each do |chemistry| %>
      <div class="col-lg-4 mt-3">
        <div id="<%= dom_id chemistry %>">
          <div class="card text-center">
            <div class="card-header">
              <strong>Title:</strong>
              <%= chemistry.title %>
            </div>
            <div class="card-body">
              <h5 class="card-title"> Lectur 01</h5>
              <%= link_to chemistry.title, chemistry, class: "btn btn-primary" %>
              <p>
                <strong>Description:</strong>
                <%= chemistry.description %>
              </p>
              <p>
                <%= link_to "Show this video", chemistry, class: "btn btn-success" %>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>










