<p style="color: green"><%= notice %></p>
<div id="<%= dom_id @chemistry %>">
<div class="card text-center">
  <div class="card-header">
    <strong>Title:</strong>
    <%= @chemistry.title %>
  </div>
  <div class="card-body">
    <h5 class="card-title"> Lectur 01</h5>
    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="<%= url_for(@chemistry.thumbnail)%>"
    data-setup="{}"
  >
    <source src="<%= url_for(@chemistry.clip)%>" type="video/mp4" />

  </video>
  <p>
    <strong>Description:</strong>
    <%= @chemistry.description %>
  </p>

  </div>
</div>
</div>

   

<div>
  <%= link_to "Back to videos", chemistries_path %>
  <%= button_to "Destroy this video", @chemistry, method: :delete %>
</div>
