<p style="color: green"><%= notice %></p>
<div id="<%= dom_id @mathvideo %>">
<div class="container">
<div class="card text-center">
  <div class="card-header">
    <strong>Title:</strong>
    <%= @mathvideo.title %>
  </div>
  <div class="card-body">
    <h5 class="card-title"> Get ready with a pen and paper, and make sure you're able to focus before starting your study session</h5>
    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="<%= url_for(@mathvideo.thumbnail)%>"
    data-setup="{}"
  >
    <source src="<%= url_for(@mathvideo.clip)%>" type="video/mp4" />

  </video>
  <p>
    <strong>Description:</strong>
    <%= @mathvideo.description %>
  </p>

  </div>
</div>
</div>
</div>

   

<div class="text-center mt-3">
  <%= link_to "Back to all mathematics videos", mathvideos_path, class: "btn btn-primary mb-3" %>
  <%= link_to "Back to Home Page", root_path, class: "btn btn-success mb-3" %>
  <%= button_to "Destroy this video", @mathvideo, method: :delete  %>
</div>
