<p style="color: green"><%= notice %></p>
<link href="https://vjs.zencdn.net/8.0.4/video-js.css" rel="stylesheet" />

<script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
<div id="<%= dom_id @mathvideo %>">
<div class="card text-center">
  <div class="card-header">
    <strong>Title:</strong>
    <%= @mathvideo.title %>
  </div>
  <div class="card-body">
    <h5 class="card-title"> Lectur 01</h5>
    <video
    id="my-video"
    class="video-js"
    controls
    preload="auto"
    width="640"
    height="264"
    poster="<%= url_for(@mathvideo.thumbnail)%>"
    data-setup="{}"
  >
    <source src="<%= url_for(@mathvideo.clip)%>" type="video/mp4" />

  </video>
  <p>
    <strong>Description:</strong>
    <%= @mathvideo.description %>
  </p>

  </div>
</div>
</div>

   

<div>
  <%= link_to "Back to videos", mathvideos_path %>
  <%= button_to "Destroy this video", @mathvideo, method: :delete %>
</div>
<script src="https://vjs.zencdn.net/8.0.4/video.min.js"></script>